.classeTitulo {font-weight: bold; font-size: 50px;}
.classeTexto1 {font-size: 25px;}
.classeTexto2 {font-size: 25px; margin-left: 300px;}	
.classeTexto3 {font-weight: bold; font-size: 23px; margin-left: 300px;}
.classeTexto4 {font-weight: bold; font-size: 20px; margin-left: 300px;}
